*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ruwudu', serif !important;
}


/* CSS for the hover zoom effect - fas fa icons in navbar------------------------------------------------ */
.nav-link i.fa-xl:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
/* CSS for the hover zoom effect - fas fa icons in navbar------------------------------------------------ */


/*navigation bar logo margin------------------------------------------------------------------------------*/
.navbar-brand img {
  margin-right: 5px; /* Adjust the margin value as needed */
}
/*navigation bar logo margin------------------------------------------------------------------------------*/


/*hover over navbar links change color--------------------------------------------------------------------*/
.nav-link:hover {
  color: rgb(224, 224, 224) !important;
  text-decoration: underline;
}
/*hover over navbar links change color--------------------------------------------------------------------*/