*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*stop a footer from floating up*/
  height: 100%;
  /*stop a footer from floating up*/

  /*   *****   Storing Colors In Variables   *****  */
  --body-clr: #f6f9fe;
  --primary-clr: #05555c;
  --primary-light-clr: #eaf3fa;
  --links-clr: #186f78;
  --text-clr: #3f7277;
}










body {
  font-family: 'Ruwudu', serif !important;

  /*BACKGROUND------------------------------------------------------------------------------------------------------*/
  /*background color*/
  background: linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #FFFFFF 0%, #020063 100%), linear-gradient(58.72deg, #2200F2 0%, #530000 100%), linear-gradient(154.03deg, #B70000 0%, #FF003D 74.04%), linear-gradient(341.1deg, #FF0000 7.52%, #0038FF 77.98%), linear-gradient(136.23deg, #00C2FF 11.12%, #FF0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #B50000 0%, #0034BB 100%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
  /*background color*/
  
  /*Background image is fixed when scrolling*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*Background image is fixed when scrolling*/
  /*BACKGROUND------------------------------------------------------------------------------------------------------*/

  /*stop a footer from floating up*/
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*stop a footer from floating up*/
  width: 100%;
}










/*hr line-------------------------------------------------------------------------------------------------*/
#line1 {
  border-color: #ffffff; /* Replace with your desired color code */
}
/*hr line-------------------------------------------------------------------------------------------------*/










/*NAVIGATION BAR BOOTSTRAP--------------------------------------------------------------------------------*/

/* CSS for the hover zoom effect - fas fa icons in navbar------------------------------------------------ */
.nav-link i.fa-xl:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
/* CSS for the hover zoom effect - fas fa icons in navbar------------------------------------------------ */


/*navigation bar logo margin------------------------------------------------------------------------------*/
.navbar-brand img {
  margin-right: 5px; /* Adjust the margin value as needed */
}
/*navigation bar logo margin------------------------------------------------------------------------------*/


/*hover over navbar links change color--------------------------------------------------------------------*/
.nav-link:hover {
  color: rgb(224, 224, 224) !important;
  text-decoration: underline;
}
/*hover over navbar links change color--------------------------------------------------------------------*/


/*nav bar color change on scroll--------------------------------------------------------------------------*/
.navbar-scrolled {
  background-color: black;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar {
  transition: all 0.5s;
}
/*nav bar color change on scroll--------------------------------------------------------------------------*/

/*NAVIGATION BAR BOOTSTRAP--------------------------------------------------------------------------------*/










/*ABOUT ME SECTION----------------------------------------------------------------------------------------*/
.hero {
  overflow: hidden;
}

.heading h1 {
  color: white;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}

.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: white;
}

.hero-content p {
  font-size: 24px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.hero-content button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 21px;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

#futuristic-svg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  .hero {
    margin: 0px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }

  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }

  .hero-content h2 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .hero-image {
    width: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*ABOUT ME SECTION----------------------------------------------------------------------------------------*/










/*PROJECTS SECTION----------------------------------------------------------------------------------------*/
.portfolio{
  width: 100%;
  padding: 30px 8%;
  background-color: transparent;
}

.portfolio .section-head{
  max-width: 700px;
  margin: 0px auto 25px;
  text-align: center;
}

.section-head h1{
  position: relative;
  font-size: 32px;
  margin: 10px 0px 30px;
  color: white;
}


/*Buttons filter navigation projects section*/
.button-group{
  text-align: center;
  margin-bottom: 40px;
}

.button-group .button{
  display: inline-block;
  padding: 10px 20px;
  margin: 1px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button-group .button.active{
  background-color: transparent;
  color: white;
  text-decoration: underline overline 3px white;
  text-shadow:0 0 3px whitesmoke;
}

.button-group .button:hover{
  background-color: transparent;
  color: white;
  text-decoration: underline overline 3px white;
  text-shadow:0 0 3px whitesmoke;
}
/*Buttons filter navigation projects section*/


div.gallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div.gallery .item{
  position: relative;
  margin: 4px;
  width: calc(33.33% - 8px);
  overflow: hidden;
  cursor: pointer;
}

.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}

div.gallery .item:hover img{
  transform: scale(1.15);
}

.item .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5,85,92,0.7);
  color: var(--body-clr);
  padding: 15px;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.item:hover .overlay{
  opacity: 1;
}

.item .overlay a{
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid var(--body-clr);
  color: var(--body-clr);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.item .overlay a:hover{
  background-color: var(--body-clr);
  color: var(--primary-clr);
}

/*glow effect and border of images*/

/* Add a border around image cards */
.item {
  border: 2px solid #ffffff; /* You can adjust the border width and color */
  transition: border-color 0.3s, box-shadow 0.3s; /* Add a transition effect for smoother hover */
  border-radius: 3px;
}

/* Glow effect on hover */
.item:hover {
  border-color: #ffffff; /* Change border color on hover */
  box-shadow: 0 0 10px #ffffff; /* Add a glow effect on hover */
}

/*glow effect and border of images*/


/*Responsivnes of projects section filter gallery*/
@media(max-width: 1024px){
  div.gallery .item{
    width: calc(50% - 8px);
  }
}

@media(max-width: 600px){
  div.gallery .item{
    width: 100%;
    margin: 4px 0px;
  }
}
/*Responsivnes of projects section filter gallery*/

/*PROJECTS SECTION----------------------------------------------------------------------------------------*/










/*Contacts-Footer-Section---------------------------------------------------------------------------------*/
.main-section {
  width: 100%;
  text-align: center;
  padding: 5rem 0;
}

.footer {
  display: flex;
  color: #fffefe;
  padding: 2rem 0;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #000000;

  /*stop a footer from floating up*/
  margin-top: auto;
  /*stop a footer from floating up*/
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.footer h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
/*Links Menu On The Left Side Of Footer*/
.links li {
  list-style: disc;
  line-height: 30px;
  text-align: left;
  font-weight: 100;
  color: red;
}

.links li a {
  text-decoration: none;
  color: #ffffff;
}

.links li a:hover {
  text-decoration: underline;
  color: #ffffff;
}
/*Links Menu On The Left Side Of Footer*/

/*Send Me a Message Box*/
.registration {
  display: flex;
  flex-direction: column;
}

.registration input {
  padding: 10px;
  font-weight: 100;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin: 1rem 0;
}

button {
  border: none;
  padding: 12px 0;
  border-radius: 30px;
  cursor: pointer;
}
/*Send Me a Message Box*/

/* Contact And Links-Fas Fa icons-On The Right Side Of Footer*/
.address {
  text-align: center;
  margin-bottom: 10px;
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
}

.social li {
  margin: 0 8px;
  cursor: pointer;
  font-size: 18px;
}
/* Contact And Links-Fas Fa icons-On The Right Side Of Footer*/
/*Contacts-Footer-Section---------------------------------------------------------------------------------*/